# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.json]
indent_size = 2

[*.ts]
ij_typescript_align_imports = false
ij_typescript_align_object_properties = 0
ij_typescript_align_multiline_binary_operation = false
ij_typescript_align_multiline_chained_methods = false
ij_typescript_align_multiline_parameters = false
ij_typescript_align_multiline_parameters_in_calls = false
ij_typescript_align_multiline_ternary_operation = false
ij_typescript_align_multiline_extends_list = false
ij_typescript_align_union_types = false
ij_typescript_assignment_wrap = normal
ij_typescript_call_parameters_wrap = normal
ij_typescript_call_parameters_new_line_after_left_paren = true
ij_typescript_call_parameters_right_paren_on_new_line = true
ij_typescript_continuation_indent_size = 4
ij_typescript_enforce_trailing_comma = whenmultiline
ij_typescript_force_quote_style = true
ij_typescript_function_expression_brace_style = next_line_if_wrapped
ij_typescript_import_sort_module_name = true
ij_typescript_imports_wrap = split_into_lines
ij_typescript_indent_case_from_switch = false
ij_typescript_method_parameters_wrap = normal
ij_typescript_method_parameters_new_line_after_left_paren = true
ij_typescript_method_parameters_right_paren_on_new_line = true
ij_typescript_object_literal_wrap = normal
ij_typescript_space_before_class_left_brace = false
ij_typescript_space_before_function_left_parenth = false
ij_typescript_space_before_method_parentheses = false
ij_typescript_spaces_within_object_type_braces = true
ij_typescript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_imports = true
ij_typescript_spaces_within_type_assertion = true
ij_typescript_spaces_within_interpolation_expressions = true
ij_typescript_ternary_operation_wrap = normal
ij_typescript_ternary_operation_signs_on_next_line = false
ij_typescript_use_double_quotes = true
